@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    margin: 0 auto;
    padding: 1em;
    max-width: 48em;
    color: #444;
}
img {
    max-width: 100%;
}

main a {
    color: blue;
    text-decoration-color: rgba(0,0,255,.4);
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;
}

main a:visited {
    color: purple;
    text-decoration-color: rgba(128,0,128,.4)
}

main a:hover,
main a:focus {
    color: red;
    text-decoration-color: rgba(255,0,0,.4);
}

/* header */
header[role="banner"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000;
    text-transform: uppercase;
    text-decoration-color: #ccc;
    transition: .2s ease-out text-decoration-color;
}

.site-title:visited {
    color: #000;
    text-decoration-color: #ccc;
}

.site-title:hover,
.site-title:focus {
    text-decoration-color: #f00;
}

.blendr {
    margin: 0 1em 0 0;
    padding: 0;
    border-radius: 100%;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
}

.avatar {
    display: block;
    margin: 0;
    padding: 0;
}

@-webkit-keyframes turnink {
    0% { 
        -webkit-transform: rotate(0deg);
    }
    100% { 
        -webkit-transform: rotate(360deg);
    }
}
@-keyframes turnink {
    0% { 
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.site-title:hover .blendr,
.site-title:focus .blendr {
    animation: turnink .5s infinite linear;
}

.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.social a {
    display: block;
    padding: .5em;
}

.social svg {
    display: block;
    width: 20px;
    height: 32px;
}

.social path {
    fill: #999;
    transition: .2s ease-out fill;
}

.social a:hover path,
.social a:hover path {
    fill: #333;
}